USE [master]
GO
/****** Object:  Database [InventoryManagementSystem]    Script Date: 12/16/2024 4:51:08 AM ******/
CREATE DATABASE [InventoryManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryManagementSystem', FILENAME = N'D:\New folder\sfml\MSSQL16.SQLEXPRESS01\MSSQL\DATA\InventoryManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryManagementSystem_log', FILENAME = N'D:\New folder\sfml\MSSQL16.SQLEXPRESS01\MSSQL\DATA\InventoryManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryManagementSystem]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 12/16/2024 4:51:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableAffected] [nvarchar](50) NULL,
	[ActionTime] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[Barcode] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[PODetailID] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PODetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PurchaseOrderID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderDetails]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderDetails](
	[SODetailID] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SODetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[SalesOrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[MovementID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[MovementType] [nvarchar](20) NULL,
	[Quantity] [int] NOT NULL,
	[MovementDate] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[ContactName] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/16/2024 4:51:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Action], [TableAffected], [ActionTime], [Description]) VALUES (1, 1, N'INSERT', N'Products', CAST(N'2024-12-16T04:48:04.260' AS DateTime), N'Added initial product list')
INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Action], [TableAffected], [ActionTime], [Description]) VALUES (2, 2, N'UPDATE', N'Suppliers', CAST(N'2024-12-16T04:48:04.260' AS DateTime), N'Updated supplier contact info')
INSERT [dbo].[AuditLogs] ([LogID], [UserID], [Action], [TableAffected], [ActionTime], [Description]) VALUES (3, 3, N'INSERT', N'PurchaseOrders', CAST(N'2024-12-16T04:48:04.260' AS DateTime), N'Added new purchase order')
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Electronics', N'Electronic gadgets and devices')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Furniture', N'Home and office furniture')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Clothing', N'Apparel and accessories')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Name], [SKU], [Category], [Quantity], [UnitPrice], [Barcode], [CreatedAt], [UpdatedAt]) VALUES (1, N'Laptop', N'SKU001', N'Electronics', 10, CAST(1200.00 AS Decimal(10, 2)), N'1234567890', CAST(N'2024-12-16T04:44:10.757' AS DateTime), CAST(N'2024-12-16T04:44:10.757' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [Name], [SKU], [Category], [Quantity], [UnitPrice], [Barcode], [CreatedAt], [UpdatedAt]) VALUES (2, N'Office Chair', N'SKU002', N'Furniture', 15, CAST(85.00 AS Decimal(10, 2)), N'1234567891', CAST(N'2024-12-16T04:44:10.757' AS DateTime), CAST(N'2024-12-16T04:44:10.757' AS DateTime))
INSERT [dbo].[Products] ([ProductID], [Name], [SKU], [Category], [Quantity], [UnitPrice], [Barcode], [CreatedAt], [UpdatedAt]) VALUES (3, N'T-Shirt', N'SKU003', N'Clothing', 50, CAST(20.00 AS Decimal(10, 2)), N'1234567892', CAST(N'2024-12-16T04:44:10.757' AS DateTime), CAST(N'2024-12-16T04:44:10.757' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] ON 

INSERT [dbo].[PurchaseOrderDetails] ([PODetailID], [PurchaseOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 5, CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[PurchaseOrderDetails] ([PODetailID], [PurchaseOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (2, 1, 2, 15, CAST(85.00 AS Decimal(10, 2)))
INSERT [dbo].[PurchaseOrderDetails] ([PODetailID], [PurchaseOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (3, 2, 3, 25, CAST(20.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PurchaseOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 

INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [OrderDate], [Status], [TotalAmount]) VALUES (1, 1, CAST(N'2024-12-16T04:45:12.287' AS DateTime), N'Pending', CAST(6000.00 AS Decimal(10, 2)))
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [OrderDate], [Status], [TotalAmount]) VALUES (2, 2, CAST(N'2024-12-16T04:45:12.287' AS DateTime), N'Completed', CAST(1275.00 AS Decimal(10, 2)))
INSERT [dbo].[PurchaseOrders] ([PurchaseOrderID], [SupplierID], [OrderDate], [Status], [TotalAmount]) VALUES (3, 3, CAST(N'2024-12-16T04:45:12.287' AS DateTime), N'Pending', CAST(1000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrderDetails] ON 

INSERT [dbo].[SalesOrderDetails] ([SODetailID], [SalesOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 2, CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[SalesOrderDetails] ([SODetailID], [SalesOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (2, 1, 2, 5, CAST(85.00 AS Decimal(10, 2)))
INSERT [dbo].[SalesOrderDetails] ([SODetailID], [SalesOrderID], [ProductID], [Quantity], [UnitPrice]) VALUES (3, 2, 3, 10, CAST(20.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SalesOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesOrders] ON 

INSERT [dbo].[SalesOrders] ([SalesOrderID], [CustomerName], [OrderDate], [Status], [TotalAmount]) VALUES (1, N'Alice Johnson', CAST(N'2024-12-16T04:46:47.060' AS DateTime), N'Pending', CAST(300.00 AS Decimal(10, 2)))
INSERT [dbo].[SalesOrders] ([SalesOrderID], [CustomerName], [OrderDate], [Status], [TotalAmount]) VALUES (2, N'Bob Smith', CAST(N'2024-12-16T04:46:47.060' AS DateTime), N'Shipped', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[SalesOrders] ([SalesOrderID], [CustomerName], [OrderDate], [Status], [TotalAmount]) VALUES (3, N'Charlie Brown', CAST(N'2024-12-16T04:46:47.060' AS DateTime), N'Cancelled', CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SalesOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[StockMovements] ON 

INSERT [dbo].[StockMovements] ([MovementID], [ProductID], [MovementType], [Quantity], [MovementDate], [Description]) VALUES (1, 1, N'IN', 10, CAST(N'2024-12-16T04:47:28.520' AS DateTime), N'Initial stock')
INSERT [dbo].[StockMovements] ([MovementID], [ProductID], [MovementType], [Quantity], [MovementDate], [Description]) VALUES (2, 2, N'IN', 20, CAST(N'2024-12-16T04:47:28.520' AS DateTime), N'Initial stock')
INSERT [dbo].[StockMovements] ([MovementID], [ProductID], [MovementType], [Quantity], [MovementDate], [Description]) VALUES (3, 3, N'OUT', 5, CAST(N'2024-12-16T04:47:28.520' AS DateTime), N'Customer order')
SET IDENTITY_INSERT [dbo].[StockMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [Phone], [Email], [Address]) VALUES (1, N'Tech Supplies Co.', N'John Doe', N'1234567890', N'techsupplies@example.com', N'123 Tech Street')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [Phone], [Email], [Address]) VALUES (2, N'Office Furniture Ltd.', N'Jane Smith', N'0987654321', N'furniture@example.com', N'456 Office Lane')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactName], [Phone], [Email], [Address]) VALUES (3, N'Clothing Distributors', N'Mary Johnson', N'1122334455', N'clothing@example.com', N'789 Apparel Ave')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'admin', N'adminpasswordhash', N'Admin', CAST(N'2024-12-16T04:47:44.023' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'manager1', N'managerpasswordhash', N'Manager', CAST(N'2024-12-16T04:47:44.023' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [CreatedAt]) VALUES (3, N'staff1', N'staffpasswordhash', N'Staff', CAST(N'2024-12-16T04:47:44.023' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__8517B2E0FD8B1F0E]    Script Date: 12/16/2024 4:51:09 AM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__CA1ECF0D5B35E0EE]    Script Date: 12/16/2024 4:51:09 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4C4D3A74A]    Script Date: 12/16/2024 4:51:09 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [ActionTime]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PurchaseOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT (getdate()) FOR [MovementDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrders] ([PurchaseOrderID])
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SalesOrderDetails]  WITH CHECK ADD FOREIGN KEY([SalesOrderID])
REFERENCES [dbo].[SalesOrders] ([SalesOrderID])
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Shipped' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD CHECK  (([MovementType]='ADJUSTMENT' OR [MovementType]='OUT' OR [MovementType]='IN'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Staff' OR [Role]='Manager' OR [Role]='Admin'))
GO
USE [master]
GO
